#container {
    width: 1577px;
    height: 861px;
    padding: 40px;
    background: rgb(206, 192, 192);
    display: flex;
    margin: auto auto;
    flex-direction: column;
}

/* HEADER PART */
#header {
    /* background: yellow; */
    flex: 1;
    display: flex;
    flex-direction: row;
}

.header__main-title {
    flex: 1;
    order: 1;
}

.header__main-title > h2 {
    font-size: 44px;
}

.header__info ul {
    list-style: none;
    padding-left: 0;
    font-size: 22px;
}

.header__info{
    flex: 1;
    order: 2;
    display: flex;
    flex-direction: row;
}

.header__main-title p, .header__main-title h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.header__main-title > div {
    font-size: 18px;
}

.header__main-title > h2 {
    text-align: center;
}

.header__info__drawn {
    flex : 1;
    order: 1;
    text-align: center;
}

.header__info__undrawn {
    flex: 1;
    order: 2;
    text-align: center;
}

.header__img{
    flex : 1;
    order: 3;
    display: flex;
    justify-content: center;
}

.header__img > img {
    width : 75%;
}

/* MAIN CONTENT */
#main-content {
    /* background: aqua; */
    flex: 1;
    display: flex;
}

#map {
    /* width: 300px; */
    /* background: rgb(221, 27, 75); */
    flex: 1; 
    order: 2;
}

#chart {
    /* width: 300px; */
    /* background: rgb(151, 173, 109); */
    flex: 2;
    order: 3;
}

#interaction {
    /* width: 300px; */
    /* background: rgb(92, 32, 202); */
    font-size: 33px;
    flex: 2;
    order: 1;
}

.info__container {
    display: flex;
    flex-direction: raw;
    justify-content: flex-end;
}

.info__container > label {
    flex: 1;

}

.info__container > div {
    flex: 2;
}

